.navbar {
	background-color: #355C7D;
	height: 50px;
	padding-left: 30px !important;
}

.navbar-light .navbar-brand {
	color: #ffffff !important;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	z-index: 5;
}

.red-line {
	position: absolute;
    width: 155px;
    height: 12px;
    background: #F2727F;
    bottom: 12px;
    left: 5px;
    border-radius: 3px;
    z-index: -1;
}